<!DOCTYPE html>
<html lang="es" dir="ltr">
<head>
    {{ head "home" }}
</head>
<body style="text-align: center">

{{ navbar null usuario }}

<main role="main">

    <div class="jumbotron" style="padding-bottom: 220px;">
        <h1 class="display-4">Bienvenidos!</h1>
        <p class="lead">TP para la materia Diseño de Sistemas de la carrera Ingenieria en Sistemas de Información UTN.</p>
        <hr class="my-4" />
        <p>Gestión de Proyectos</p>
    </div>
    <div class="container">

    </div>
</main>
{{ footer null }}

</body>

{{ generalLibs null }}

</html>